*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 3px red solid; */
}

@font-face {
    font-family: commando;
    src:  url('../public/assets/fonts/commando.ttf');
  }

body{
    background-image: url('../public/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    width: 95vw;
    height: 10vh;
    align-items: center;
    justify-self: right;
    margin-bottom: 5vh;
}

#mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic{
    width: 200px;
    width: 100px;
    border-radius: 50%;
}

.additionalInfo{
    font-style: italic;
}

.flexHorizontal{
    display: flex;

}

.flexVertical{
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
}

.formStyles{
    justify-content: center;
    width: 40%;
    padding: 50px;
    background-color: whitesmoke;
}

nav div button{
    cursor: pointer;
}

#logo{
    /* align-self: start; */
    background-color: black;
    padding: 10px;
    border: 1px black solid;
    color: white;
    font-size: xx-large;
    font-weight: 500;
    font-family: commando;
}

.sideArtPanelAdd{
    background-image: url('../public/assets/images/desk.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    color: #d2ff58;
    padding: 2%;
}

.sideArtPanelDisplay{
    background-image: url('../public/assets/images/damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    color: #d2ff58;
    padding: 2%;
}

label{
    display: block;
    font-size: medium;
    font-weight: 600;
}

input{
    width: 25vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
}

.limeButton{
    color: black;
    background-color: #d2ff58;
    cursor: pointer;
}

.navLink{
    background-color: transparent;
}

.popup{
    display: flex;
}