*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pic{
    width: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 2vw;
}

span{
    font-style: italic;
}

.flexHorizontal{
    display: flex;
}

.formStyles{
    align-self: center;
    width: 50vw;
}

